<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Добавление нового менеджера</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>Добавление нового менеджера</h2>
        <p class="lead">Заполните поля и нажмите кнопку 'Добавить менеджера'</p>
    </div>

    <form enctype="multipart/form-data" action="#" th:action="@{/admin/add_manager}" th:object="${user}" method="post" class="needs-validation"
          novalidate>
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-3">Поля для заполнения</h4>

                <div class="row">

                    <div class="col-md-4 mb-3">
                        <label for="lastName">Фамилия</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="lastName">
                        <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
                    </div>


                    <div class="col-md-4 mb-3">
                        <label for="firstName">Имя</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="firstName">
                        <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="patronymic">Отчество</label>
                        <input th:field="*{patronymic}" type="text" class="form-control" id="patronymic">
                        <small class="text-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"/>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Электронная почта</label>
                    <input th:field="*{userName}" type="email" class="form-control" id="email">
                    <small class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"/>
                </div>

                <div class="mb-3">
                    <label for="phone">Телефон</label>
                    <input th:field="*{phone}" type="text" class="form-control" id="phone">
                    <small class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"/>
                </div>


                <div class="mb-3">
                    <label for="password">Пароль</label>
                    <input th:field="*{password}" type="password" class="form-control" id="password">
                    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg d-block mx-auto" type="submit" value="Submit">Добавить менеджера</button>
            </div>
        </div>
    </form>
</div>

<br/><br/><br/>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>