<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .center {
        margin-left: 40%; /* Отступ слева */
        width: 70%;
    }
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Вход</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;"> -->

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><h2> Вход</h2><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{~/registration_form}" ><h2>Регистрация </h2></a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>С возвращением!</h2>
        <p class="lead">Введите свои данные и войдите в аккаунт</p>
    </div>
    <div class="center">
    <form enctype="multipart/form-data" action="#" th:action="@{/login}" method="post" class="needs-validation"
          novalidate>
        <div class="row">
            <div class="col-md-4">

                <div class="mb-3">
                    <label for="username">Электронная почта</label>
                    <input type="text" id="username" class="form-control" name="username"/>
                </div>

                <div class="mb-3">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" class="form-control" name="password"/>
                </div>
                    <hr class="col-md-4 mb-3">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Войти</button>
                <pre> </pre>
                <img th:src="@{../images/hello.png}" width="105%" height="50%">
                </div>
                </div>
    </form>
    </div>
</div>

<br/><br/><br/>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>