<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .center {
        position: fixed; /* or absolute */
        top: 28%;
        left: 42%;
        width: 800px;
        height:500px;
        margin:0 auto;
    }
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Регистрация</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;"> -->

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><h2> </h2><span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>Вы уверенны, что хотите выйти?</h2>
        <h4>Мы будем скучать по Вам!</h4>
    </div>
    <div class="center">
        <form enctype="multipart/form-data" action="#" th:action="@{/logout}" method="post" class="needs-validation"
              novalidate>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Выйти</button>
                    <pre></pre>
                    <img th:src="@{../images/logout.png}" width="100%" height="80%">
                </div>
            </div>
        </form>
    </div>
</div>

<br/><br/><br/>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>